body {
	padding-top: 70px;
}

li {
	font-family: georgia;
	padding: 1em 0;
}

#date.right {
	color: #A9A9A9;
	float: right;
}

#lentOn.right {
	color: #FF0000;
	float: right;
}

#sent{
	color: black;
}